<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout}">
<head>
    <title>Home Page</title>
</head>
<th:block layout:fragment="body">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong>Logged In</strong></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <p>you have logged in.</p>
    </div>
</th:block>
</html>