<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout}">
<head>
    <title>Signup Form Page</title>
</head>
<th:block layout:fragment="body">
    <!--breadcrumb-->
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong>SignUp</strong></div>
            </div>
        </div>
    </div>
    <!--/breadcrumb-->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 mb-3 text-black">Customer SignUp</h1>
                </div>
                <div class="col-md-12">

                    <form method="post" th:action="@{/customer/signup}" th:object="${customerSignupForm}">

                        <div class="p-3 p-lg-5 border">


                            <div class="form-group row">
                                <div class="col-md-10">

                                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" th:field="*{emailAddress}"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>

                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="mobileNo" name="mobileNo" placeholder="Mobile Number" th:field="*{mobileNo}"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}"></p>

                                </div>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" th:field="*{password}" data-bs-toggle="tooltip" title="password should be 8 to 16 character and must contain alphanumeric with one special character like $,&,@,# !"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>

                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="re-Password" th:field="*{rePassword}" data-bs-toggle="tooltip" title="rePassword must match with password"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></p>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" th:field="*{firstName}"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" th:field="*{lastName}"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

                                </div>
                                <div class="col-md-10">
                                    <label for="dob">Date Of Birth</label>
                                    <input type="date" class="form-control" id="dob" name="dob" placeholder="dob" th:field="*{dob}" data-bs-toggle="tooltip" title="dob should be in past"><br>
                                    <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>

                                </div>
                                <div class="col-md-10">
                                     <label for="male">Male :</label>
                                    <input id="male"  type="radio" name="gender" value="M" th:field="*{gender}">
                                    <label for="female">Female:</label>
                                    <input id="female" type="radio" name="gender" value="F" th:field="*{gender}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Y" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        I have read all the <a href="#"  data-bs-toggle="modal" data-bs-target="#termAndCondition">Terms & Condition</a>

                                    </label>
                                    <P class="text-danger" th:if="${#fields.hasErrors('termAndCondition')}" th:errors="*{termAndCondition}"></P>
                                </div>



                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="termAndCondition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Terms And Conditions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    please read the term and condition before accepting them.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>